{% extends "notes_header.html" %}
{# This file contains the submission material for the Udacity Nanodegree
Introduction to Programming by Jes H.
This is the extended Jinja template containing stage note blocks #}

{% block html_stage %}

{% if p == "stage1" %}{% set stage = stage1 %}{% endif %}
{% if p == "stage2" %}{% set stage = stage2 %}{% endif %}
{% if p == "stage3" %}{% set stage = stage3 %}{% endif %}
{% if p == "stage4" %}{% set stage = stage4 %}{% endif %}
{% if p == "stage5" %}{% set stage = stage5 %}{% endif %}

{% for lesson in stage %}
  {% set lesson_title = lesson[0] %}
  <div class="lesson">
    <p class="addmargin">
      {% if loop.index > 1 %}
        <a href="#top" class="toplink">Return to top</a>
      {% endif %}
       <a href="" class="commentlink">Leave comment</a>
      <br>
    </p>
    <h2 class="addmargin">{{ lesson_title }}</h2>
  {% for concept in lesson[1:] %}
    {% set concept_title = concept[0] %}
    {% set concept_desc = concept[1] | safe %}
      <div class="concept">
        <h3>{{ concept_title }}</h3>
        <div class="concept-description">
          {{ concept_desc }}
        </div>
      </div>
  {% endfor %}
  </div>
{% endfor %}

{% endblock %}
